<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticInsightsES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticInsightsES.Properties.Settings>
            <setting name="ESEnableDebugging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ESInsightClusterIdField" serializeAs="String">
                <value>metadata.tags.clusterId.keyword</value>
            </setting>
            <setting name="ESInsightTimestampField" serializeAs="String">
                <value>metadata.timestamp</value>
            </setting>
        </DSEDiagnosticInsightsES.Properties.Settings>
    </applicationSettings>
</configuration>