<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticAnalytics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticAnalytics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticAnalytics.Properties.Settings>
            <setting name="LogFileInfoAnalysisContinousEventInDays" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LogFileInfoAnalysisGapTriggerInMins" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AggregateGroups" serializeAs="String">
                <value>.\AggregateGroups.json,.\Json\AggregateGroups.json,[cpld]\Json\AggregateGroups.json,[cpld]\AggregateGroups.json,[ApplicationRunTimeDirectory]\Json\AggregateGroups.json,[ApplicationRunTimeDirectory]\AggregateGroups.json,.\Json\AggregateGroups.json,.\AggregateGroups.json</value>
            </setting>
            <setting name="PartitionLargeAttrib" serializeAs="String">
                <value>Partition large</value>
            </setting>
            <setting name="TombstonesReadAttrib" serializeAs="String">
                <value>Tombstones Read</value>
            </setting>
            <setting name="CompactionInsufficientSpace" serializeAs="String">
                <value>Compaction Insufficient Space</value>
            </setting>
            <setting name="RowLargeAttrrib" serializeAs="String">
                <value>Row large</value>
            </setting>
            <setting name="GCTimeFrameDetection" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="GCBackToBackToleranceMS" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="GCTimeFrameDetectionThreholdMin" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="LogAggregationPeriod" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="TombstoneLiveCellAttrib" serializeAs="String">
                <value>Tombstones Live Cells Read</value>
            </setting>
            <setting name="LogAggregationNodeStatMbrLimit" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="LogAggregationNodeStatMbrLimitTakeNItemsPercent"
                serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="CFStatsReadCountName" serializeAs="String">
                <value>Read Count</value>
            </setting>
            <setting name="CFStatsWriteCountName" serializeAs="String">
                <value>Write Count</value>
            </setting>
            <setting name="CFStatsLocalReadCountName" serializeAs="String">
                <value>Local read count</value>
            </setting>
            <setting name="CFStatsLocalWriteCountName" serializeAs="String">
                <value>Local write count</value>
            </setting>
            <setting name="CFStatsSpaceUsed" serializeAs="String">
                <value>Space used (total)</value>
            </setting>
            <setting name="CFStatsSSTableCount" serializeAs="String">
                <value>SSTable count</value>
            </setting>
            <setting name="CFStatsNbrKeys" serializeAs="String">
                <value>Number of keys (estimate)</value>
            </setting>
            <setting name="CFStatsNbrKeys1" serializeAs="String">
                <value>Number of partitions (estimate)</value>
            </setting>
            <setting name="CFStatsLocalReadLatency" serializeAs="String">
                <value>Local read latency</value>
            </setting>
            <setting name="CFStatsLocalWriteLatency" serializeAs="String">
                <value>Local write latency</value>
            </setting>
            <setting name="CFStataAvgTombstones5Mins" serializeAs="String">
                <value>Average tombstones per slice (last five minutes)</value>
            </setting>
            <setting name="CFStatsMaxTombstones5Mins" serializeAs="String">
                <value>Maximum tombstones per slice (last five minutes)</value>
            </setting>
            <setting name="CFStatsCompactedPartitionMin" serializeAs="String">
                <value>Compacted partition minimum bytes</value>
            </setting>
            <setting name="CFStatsCompactedPartitionMax" serializeAs="String">
                <value>Compacted partition maximum bytes</value>
            </setting>
            <setting name="CFStatsCompactedPartitionAvg" serializeAs="String">
                <value>Compacted partition mean bytes</value>
            </setting>
            <setting name="CFStatsAvgLiveCellsRead5Mins" serializeAs="String">
                <value>Average live cells per slice (last five minutes)</value>
            </setting>
            <setting name="CFStatsMaxLiveCellsRead5Mins" serializeAs="String">
                <value>Maximum live cells per slice (last five minutes)</value>
            </setting>
            <setting name="AttributeThresholds" serializeAs="String">
                <value>[
{"AttrName":"Local read latency",
 "MinTrigger":0.65,
 "AttrValue":{"Type":0,
  		"Threshold":1.5,
  		"Weight":1.0,
  		"WeightFactor":1.0,
  		"PenaltyFactor":0.60
 	},
 "MaxValue":{"Type":1,
 		"Threshold":1.5,
 		"Weight":1.0,
 		"WeightFactor":0.25,
 		"PenaltyFactor":0.0
 	},
 "MinValue":{"Type":2,
 		"Threshold":0.75,
 		"Weight":1.0,
 		"WeightFactor":0.25,
 		"PenaltyFactor":0.0
 	},
 "AvgValue":{"Type":3,
 		"Threshold":1.0,
 		"Weight":1.0,
 		"WeightFactor":0.50,
 		"PenaltyFactor":0.10
 	},
 "StdDevValue":null
},
{"AttrName":"Local write latency",
 "MinTrigger":0.65,
 "AttrValue":{"Type":0,
   		"Threshold":1.0,
   		"Weight":1.0,
   		"WeightFactor":1.0,
   		"PenaltyFactor":0.60
 	},
 "MaxValue":{"Type":1,
 		"Threshold":1.0,
 		"Weight":1.0,
 		"WeightFactor":0.25,
 		"PenaltyFactor":0.0
 	},
 "MinValue":{"Type":2,
 		"Threshold":0.30,
 		"Weight":1.0,
 		"WeightFactor":0.25,
 		"PenaltyFactor":0.0
 	},
 "AvgValue":{"Type":3,
 		"Threshold":0.60,
 		"Weight":1.0,
 		"WeightFactor":0.50,
 		"PenaltyFactor":0.10
 	},
 "StdDevValue":null
},
{"AttrName":"SSTable count",
 "MinTrigger":0.60,
 "AttrValue":{"Type":0,
   		"Threshold":30.0,
   		"Weight":1.0,
   		"WeightFactor":1.0,
   		"PenaltyFactor":0.60
 	},
 "MaxValue":{"Type":1,
 		"Threshold":30.0,
 		"Weight":1.0,
 		"WeightFactor":0.30,
 		"PenaltyFactor":0.0
 	},
 "MinValue":{"Type":2,
 		"Threshold":30.0,
 		"Weight":1.0,
 		"WeightFactor":0.40,
 		"PenaltyFactor":0.10
 	},
 "AvgValue":{"Type":3,
 		"Threshold":30.0,
 		"Weight":1.0,
 		"WeightFactor":0.30,
 		"PenaltyFactor":0.20
 	},
 "StdDevValue":null
},
{"AttrName":"Partition large",
 "MinTrigger":0.60,
 "AttrValue":{"Type":0,
   		"Threshold":100.0,
   		"Weight":1.0,
   		"WeightFactor":1.0,
   		"PenaltyFactor":0.60
 	},
 "MaxValue":{"Type":1,
 		"Threshold":100.0,
 		"Weight":1.0,
 		"WeightFactor":0.30,
 		"PenaltyFactor":0.0
 	},
 "MinValue":{"Type":2,
 		"Threshold":100.0,
 		"Weight":1.0,
 		"WeightFactor":0.40,
 		"PenaltyFactor":0.10
 	},
 "AvgValue":{"Type":3,
 		"Threshold":100.0,
 		"Weight":1.0,
 		"WeightFactor":0.30,
 		"PenaltyFactor":0.20
 	},
 "StdDevValue":null
},
{"AttrName":"Tombstone/Live Percent",
 "MinTrigger":0.60,
 "AttrValue":{"Type":0,
   		"Threshold":0.60,
   		"Weight":1.0,
   		"WeightFactor":1.0,
   		"PenaltyFactor":0.60
 	},
 "MaxValue":{"Type":1,
 		"Threshold":0.60,
 		"Weight":1.0,
 		"WeightFactor":0.30,
 		"PenaltyFactor":0.0
 	},
 "MinValue":{"Type":2,
 		"Threshold":0.60,
 		"Weight":1.0,
 		"WeightFactor":0.40,
 		"PenaltyFactor":0.10
 	},
 "AvgValue":{"Type":3,
 		"Threshold":0.60,
 		"Weight":1.0,
 		"WeightFactor":0.30,
 		"PenaltyFactor":0.20
 	},
 "StdDevValue":null
}
]</value>
            </setting>
        </DSEDiagnosticAnalytics.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DSEDiagnosticAnalytics.Properties.Settings>
            <setting name="TombstoneLiveCellRatioAttrib" serializeAs="String">
                <value>Tombstone/Live Percent</value>
            </setting>
        </DSEDiagnosticAnalytics.Properties.Settings>
    </userSettings>
</configuration>