<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticAnalytics.Properties.StatPropertyNames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DSEDiagnosticAnalytics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticAnalytics.Properties.StatPropertyNames>
            <setting name="SSTableOverallPercent" serializeAs="String">
                <value>SSTable Overall Percent</value>
            </setting>
            <setting name="TombstoneOverallPercent" serializeAs="String">
                <value>Tombstone Overall Percent</value>
            </setting>
            <setting name="ReadOverallPercent" serializeAs="String">
                <value>Read Overall Percent</value>
            </setting>
            <setting name="WriteOverallPercent" serializeAs="String">
                <value>Write Overall Percent</value>
            </setting>
            <setting name="KeysOverallPercent" serializeAs="String">
                <value>Keys Overall Percent</value>
            </setting>
            <setting name="SolrIndexStorageSizePercent" serializeAs="String">
                <value>solr index percent storage size </value>
            </setting>
            <setting name="TotalStorage" serializeAs="String">
                <value>Space used (total)</value>
            </setting>
            <setting name="LocalReadCount" serializeAs="String">
                <value>Local read count</value>
            </setting>
            <setting name="LocalWriteCount" serializeAs="String">
                <value>Local write count</value>
            </setting>
            <setting name="LCSLevels" serializeAs="String">
                <value>SSTables in each level</value>
            </setting>
            <setting name="TombstoneLiveCellRatio" serializeAs="String">
                <value>Tombstone/Live Percent</value>
            </setting>
            <setting name="LocalReadPercent" serializeAs="String">
                <value>Local Read Percentage</value>
            </setting>
            <setting name="LocalWritePercent" serializeAs="String">
                <value>Local Write Percentage</value>
            </setting>
            <setting name="LCSBackRatio" serializeAs="String">
                <value>LCS Level BuildUp Ratio</value>
            </setting>
            <setting name="LCSSplitLevels" serializeAs="String">
                <value>SSTables in each split level</value>
            </setting>
            <setting name="LCSNbrSplitLevels" serializeAs="String">
                <value>LCS Nbr Split Levels</value>
            </setting>
            <setting name="SolrIndexStorageSize" serializeAs="String">
                <value>solr index storage size</value>
            </setting>
            <setting name="PartitionLarge" serializeAs="String">
                <value>Partition large</value>
            </setting>
            <setting name="TombstonesRead" serializeAs="String">
                <value>Tombstones Read</value>
            </setting>
            <setting name="CompactionInsufficientSpace" serializeAs="String">
                <value>Compaction Insufficient Space</value>
            </setting>
            <setting name="RowLarge" serializeAs="String">
                <value>Row large</value>
            </setting>
            <setting name="TombstoneLiveCell" serializeAs="String">
                <value>Tombstones Live Cells Read</value>
            </setting>
            <setting name="LocalReadLatency" serializeAs="String">
                <value>Local read latency</value>
            </setting>
            <setting name="LocalWriteLatency" serializeAs="String">
                <value>Local write latency</value>
            </setting>
            <setting name="AvgTombstonesSlice" serializeAs="String">
                <value>Average tombstones per slice (last five minutes)</value>
            </setting>
            <setting name="MaxTombstonesSlice" serializeAs="String">
                <value>Maximum tombstones per slice (last five minutes)</value>
            </setting>
            <setting name="CompactedPartitionMin" serializeAs="String">
                <value>Compacted partition minimum bytes</value>
            </setting>
            <setting name="CompactedPartitionMax" serializeAs="String">
                <value>Compacted partition maximum bytes</value>
            </setting>
            <setting name="CompactedPartitionAvg" serializeAs="String">
                <value>Compacted partition mean bytes</value>
            </setting>
            <setting name="AvgLiveCellsReadSlice" serializeAs="String">
                <value>Average live cells per slice (last five minutes)</value>
            </setting>
            <setting name="MaxLiveCellsReadSlice" serializeAs="String">
                <value>Maximum live cells per slice (last five minutes)</value>
            </setting>
            <setting name="SSTableCount" serializeAs="String">
                <value>SSTable count</value>
            </setting>
            <setting name="ReadCount" serializeAs="String">
                <value>Read Count</value>
            </setting>
            <setting name="WriteCount" serializeAs="String">
                <value>Write Count</value>
            </setting>
            <setting name="LocalWriteCout" serializeAs="String">
                <value>Local write count</value>
            </setting>
            <setting name="PartitionLargeAttrib" serializeAs="String">
                <value>Partition large</value>
            </setting>
            <setting name="NbrPartitionKeys" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Number of keys (estimate)</string>
                        <string>Number of partitions (estimate)</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DSEDiagnosticAnalytics.Properties.StatPropertyNames>
        <DSEDiagnosticAnalytics.Properties.Settings>
            <setting name="LogFileInfoAnalysisContinousEventInDays" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LogFileInfoAnalysisGapTriggerInMins" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AggregateGroups" serializeAs="String">
                <value>.\AggregateGroups.json,.\Json\AggregateGroups.json,[cpld]\Json\AggregateGroups.json,[cpld]\AggregateGroups.json,[ApplicationRunTimeDirectory]\Json\AggregateGroups.json,[ApplicationRunTimeDirectory]\AggregateGroups.json,.\Json\AggregateGroups.json,.\AggregateGroups.json</value>
            </setting>
            <setting name="GCTimeFrameDetection" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="GCBackToBackToleranceMS" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="GCTimeFrameDetectionThreholdMin" serializeAs="String">
                <value>1.25</value>
            </setting>
            <setting name="LogAggregationPeriod" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="LogAggregationNodeStatMbrLimit" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="LogAggregationNodeStatMbrLimitTakeNItemsPercent"
                serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="AttributeThresholds" serializeAs="String">
                <value>.\AggregateGroups.json,.\Json\AttributeThresholds.json,[cpld]\Json\AttributeThresholds.json,[cpld]\AttributeThresholds.json,[ApplicationRunTimeDirectory]\Json\AttributeThresholds.json,[ApplicationRunTimeDirectory]\AttributeThresholds.json,.\Json\AttributeThresholds.json,.\AttributeThresholds.json</value>
            </setting>
        </DSEDiagnosticAnalytics.Properties.Settings>
    </applicationSettings>
</configuration>