<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticAnalytics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticAnalytics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticAnalytics.Properties.Settings>
            <setting name="LogFileInfoAnalysisContinousEventInDays" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LogFileInfoAnalysisGapTriggerInMins" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AggregateGroups" serializeAs="String">
                <value>.\AggregateGroups.json,.\Json\AggregateGroups.json,[cpld]\Json\AggregateGroups.json,[cpld]\AggregateGroups.json,[ApplicationRunTimeDirectory]\Json\AggregateGroups.json,[ApplicationRunTimeDirectory]\AggregateGroups.json,.\Json\AggregateGroups.json,.\AggregateGroups.json</value>
            </setting>
            <setting name="PartitionLargeAttrib" serializeAs="String">
                <value>Partition large</value>
            </setting>
            <setting name="TombstonesReadAttrib" serializeAs="String">
                <value>Tombstones Read</value>
            </setting>
            <setting name="CompactionInsufficientSpace" serializeAs="String">
                <value>Compaction Insufficient Space</value>
            </setting>
            <setting name="RowLargeAttrrib" serializeAs="String">
                <value>Row large</value>
            </setting>
        </DSEDiagnosticAnalytics.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DSEDiagnosticAnalytics.Properties.Settings>
            <setting name="TombstoneLiveCellRatioAttrib" serializeAs="String">
                <value>Tombstone/Live Percent</value>
            </setting>
        </DSEDiagnosticAnalytics.Properties.Settings>
    </userSettings>
</configuration>