<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticLibrary.Properties.Settings>
            <setting name="HostNamePathNameCharSeparators" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>+</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultMemoryStorageSizeUnit" serializeAs="String">
                <value>MiB</value>
            </setting>
            <setting name="DefaultTimeUnit" serializeAs="String">
                <value>MiS</value>
            </setting>
        </DSEDiagnosticLibrary.Properties.Settings>
    </applicationSettings>
</configuration>