<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DSEDiagnosticInsightsConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <DSEDiagnosticInsightsConsole.Properties.Settings>
            <setting name="ExcelWorkbookPath" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="WhiteListKeyspaceInWS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>OpsCenter</string>
                        <string>system_traces</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExcelFileTemplatePath" serializeAs="String">
                <value>.\dseHealthAssessment4BTemplate.xlsm</value>
            </setting>
            <setting name="LoadSystemDSEKeyspaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelFileNameGeneratedStringFormat" serializeAs="String">
                <value>{0}\{1}{2}</value>
            </setting>
            <setting name="ExcelWorkbookFile" serializeAs="String">
                <value />
            </setting>
        </DSEDiagnosticInsightsConsole.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nest" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>