<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticFileParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticFileParser.Properties.Settings>
            <setting name="ExtractFilesWithExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ZIP</string>
                        <string>tar</string>
                        <string>gz</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProcessFileMappings" serializeAs="String">
                <value>[
{"Catagory": 2, "FilePatterns": [".\\nodes\\*\\logs\\cassandra\\system.log"], "FileParsingClass": "UserQuery.TestClass", "NodeIdPos": -1},
{"Catagory": 5, "FilePatterns": [".\\opscenterd\\node_info.json"], "FileParsingClass": "DSEDiagnosticFileParser.json_node_info", "NodeIdPos": -1, "ProcessingTaskOption":2,"ProcessPriorityLevel":900},
{"Catagory": 4, "FilePatterns": [".\\nodes\\*\\nodetool\\status"], "FileParsingClass": "DSEDiagnosticFileParser.file_nodetool_status", "NodeIdPos": 0, "ProcessingTaskOption":8, "ProcessPriorityLevel":1000}
]</value>
            </setting>
            <setting name="SevenZipCOMFilePath" serializeAs="String">
                <value>Search([StartUpDir];[WorkingDir];[AssemblyLocation]:[StartUpDir]\7Zip;[WorkingDir]\7Zip;[AssemblyLocation]\7Zip;[ProgramFiles]\7-Zip,7za.dll;7z.dll)</value>
            </setting>
            <setting name="DiagnosticFileRegExAssocations" serializeAs="String">
                <value>{
"file_nodetool_status":{"RegExStrings":["datacenter:\\s+([a-z0-9\\-_$%+=@!?&lt;&gt;^*&amp;]+)\\s*","(un|ul|uj|um|dn|dl|dJ|dm)\\s+([a-z0-9.:_\\-+%]+)\\s+([0-9.]+)\\s*([0-9a-z]{0,2})\\s+(\\d+)\\s+([0-9?.% ]+)\\s+([0-9a-f\\-]+)\\s+(.+)"]}
}</value>
            </setting>
        </DSEDiagnosticFileParser.Properties.Settings>
    </applicationSettings>
</configuration>