<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticFileParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticFileParser.Properties.Settings>
            <setting name="ExtractFilesWithExtensions" serializeAs="String">
                <value>[{"item1":".zip","item2":"zip"},{"item1":".tar","item2":"tar"},{"item1":".gz","item2":"gz"}] </value>
            </setting>
            <setting name="ProcessFileMappings" serializeAs="String">
                <value>[cpld]\Json\ProcessFileMappings.json,[cpld]\ProcessFileMappings.json,[ApplicationRunTimeDirectory]\Json\ProcessFileMappings.json,[ApplicationRunTimeDirectory]\ProcessFileMappings.json,.\Json\ProcessFileMappings.json,.\ProcessFileMappings.json</value>
            </setting>
            <setting name="DiagnosticFileRegExAssocations" serializeAs="String">
                <value>[cpld]\Json\DiagnosticFileRegExAssocations.json,[cpld]\DiagnosticFileRegExAssocations.json,[ApplicationRunTimeDirectory]\Json\DiagnosticFileRegExAssocations.json,[ApplicationRunTimeDirectory]\DiagnosticFileRegExAssocations.json,.\DiagnosticFileRegExAssocations.json,.\Json\DiagnosticFileRegExAssocations.json</value>
            </setting>
            <setting name="ObscureFiledValues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>password</string>
                        <string>monitored_cassandra_pass</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SnitchFileMappings" serializeAs="String">
                <value>[
{"Item1":"_Comments_","Item2":"Item1 is case sensitive. Item2 Canbe a list of file names delimited by comma. Begginning files will be selected only if no later files in the list exist"},
{"Item1":"SimpleSnitch","Item2":null},
{"Item1":"RackInferringSnitch","Item2":null},
{"Item1":"PropertyFileSnitch","Item2":"cassandra-topology.properties"},
{"Item1":"GossipingPropertyFileSnitch","Item2":"cassandra-topology.properties,cassandra-rackdc.properties"},
{"Item1":"CloudstackSnitch","Item2":null},
{"Item1":"GoogleClouldSnitch","Item2":"cassandra-rackdc.properties"},
{"Item1":"EC2Snitch","Item2":"cassandra-rackdc.properties"},
{"Item1":"EC2MultiRegionSnitch","Item2":"cassandra-rackdc.properties"},
{"Item1":"YamlFileNetworkTopologySnitch","Item2":"cassandra-topology.yaml"}
]</value>
            </setting>
            <setting name="Log4NetConversionPattern" serializeAs="String">
                <value>%-5level [%thread] %date{ISO8601} %F:%L - %msg%n</value>
            </setting>
            <setting name="Log4NetParser" serializeAs="String">
                <value>[cpld]\Json\Log4NetParser.json,[cpld]\Log4NetParser.json,[ApplicationRunTimeDirectory]\Json\Log4NetParser.json,[ApplicationRunTimeDirectory]\Log4NetParser.json,.\Log4NetParser.json,.\Json\Log4NetParser.json</value>
            </setting>
            <setting name="CodeDomAssemblies" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mscorlib.dll</string>
                        <string>Microsoft.CSharp.dll</string>
                        <string>System.dll</string>
                        <string>System.Core.dll</string>
                        <string>System.Xm.dlll</string>
                        <string>System.Xml.Linq.dll</string>
                        <string>--[Search([AssemblyDir];[WorkingDir];[AppRunTimeDir],DSEDiagnosticLibrary.dll)]</string>
                        <string>--[Search([AssemblyDir];[WorkingDir];[AppRunTimeDir],DSEDiagnosticLog4NetParser.dll)]</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CodeDomClassTemplate" serializeAs="String">
                <value>using System;
using System.Collections.Generic;
using System.Text;
using DSEDiagnosticFileParser;
using DSEDiagnosticLibrary;
using DSEDiagnosticLog4NetParser;

public static class {0}
{{
    public static {1} {2} ( {3} )
    {{
        {4}
    }}
}}</value>
            </setting>
        </DSEDiagnosticFileParser.Properties.Settings>
    </applicationSettings>
</configuration>