<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DSEDiagnosticConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DSEDiagnosticFileParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
       <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <runtime>
    <gcConcurrent enabled="false" />
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>

  </runtime>

  <log4net>
    <!-- A1 is set to be a ConsoleAppender -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <!--appender name="FileAppender" type="log4net.Appender.RollingFileAppender"-->
      <file value="DSEDiagnosticConsoleApplication.log" />
      <!--file value="DSEDiagnosticConsoleApplication" -->
      <!--rollingStyle value="Date"-->
      <!--datePattern value="yyyyMMdd_HHmm.lo\g"-->
      <!--staticLogFileName value="true"/-->
      <appendToFile value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %timestamp [%thread] %level %logger - %message%newline" />
      </layout>
      <!--filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter-->
    </appender>

    <appender name="AsyncBufferingForwarder" type="DSEDiagnosticLogger.AsyncBufferingForwardingAppender">
      <lossy value="false" />
      <bufferSize value="10" />
      <appender-ref ref="FileAppender" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="INFO" />
      </evaluator>
      <!--Any other appender or forwarder...-->
    </appender>

    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <!--appender-ref ref="FileAppender" -->
      <appender-ref ref="AsyncBufferingForwarder" />
    </root>
  </log4net>

    <applicationSettings>
        <DSEDiagnosticConsoleApplication.Properties.Settings>
            <setting name="DiagnosticPath" serializeAs="String">
                <value>[Personal]\DSEData</value>
            </setting>
            <setting name="DiagFolderStruct" serializeAs="String">
                <value>OpsCtrDiagStruct</value>
            </setting>
            <setting name="IgnoreKeySpaces" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>dse_system</string>
                        <string>system_auth</string>
                        <string>system_distributed</string>
                        <string>system_schema</string>
                        <string>system</string>
                        <string>dse_security</string>
                        <string>solr_admin</string>
                        <string>dse_auth</string>
                        <string>dse_leases</string>
                        <string>system_traces</string>
                        <string>dse_perf</string>
                        <string>HiveMetaStore</string>
                        <string>cfs_archive</string>
                        <string>cfs</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExcelFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CLParserLogTimeRangeRegEx" serializeAs="String">
                <value>^(?&lt;STARTTS&gt;[0-9 \-:./+]+)?\s*(?&lt;STARTTZ&gt;[A-Z0-9_/]+)?\s*,?\s*(?&lt;ENDTS&gt;[0-9 \-:./+]+)?\s*(?&lt;ENDTZ&gt;[A-Z0-9_/]+)?$</value>
            </setting>
            <setting name="OnlyIncludeXHrsofLogsFromDiagCaptureTime" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="WarnWhenKSTblIsDetected" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>system.paxos</string>
                        <string>system_traces</string>
                        <string>dse_perf</string>
                        <string>system_auth</string>
                        <string>dse_security</string>
                        <string>system.batches</string>
                        <string>system.hints</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ExcelFileTemplatePath" serializeAs="String">
                <value>.\dseHealthAssessment3Template.xlsm</value>
            </setting>
            <setting name="ExcelFileNameGeneratedStringFormat" serializeAs="String">
                <value>{0}\{1}-{2:yyyy-MM-dd-HH-mm-ss}-{3}{4}{5}</value>
            </setting>
            <setting name="DefaultProfile" serializeAs="String">
                <value>Validate</value>
            </setting>
            <setting name="Profiles" serializeAs="String">
                <value>[
{"ProfileName":"AllFilesLogs","Log4NetParser":".\\Json\\Log4NetParser.json","ProcessFileMappings":".\\Json\\ProcessFileMappings.json","EnableVirtualMemory":false, "DefaultLogLevelHandling":"Warning, Error, Fatal, Exception", "DebugLogProcessingTypes":"OnlyFlushCompactionMsgs"},
{"ProfileName":"NoLogs","Log4NetParser":".\\Json\\Log4NetParser.json","ProcessFileMappings":".\\Json\\ProcessFileMappingsNoLogs.json","EnableVirtualMemory":false, "DefaultLogLevelHandling":null, "DebugLogProcessingTypes":"Disabled"},
{"ProfileName":"Validate","Log4NetParser":".\\Json\\Log4NetParserValidateLogs.json","ProcessFileMappings":".\\Json\\ProcessFileMappingsValidate.json","EnableVirtualMemory":false, "DefaultLogLevelHandling":"Fatal, Exception", "DebugLogProcessingTypes":"OnlyLogDateRange"},
{"ProfileName":"Decompression","Log4NetParser":".\\Json\\Log4NetParserValidateLogs.json","ProcessFileMappings":".\\Json\\Unzip-ProcessFileMappings.json","EnableVirtualMemory":false, "DefaultLogLevelHandling":"Fatal, Exception", "DebugLogProcessingTypes":"Disabled"},
{"ProfileName":"CreateOpsCenterStruct","Log4NetParser":".\\Json\\Log4NetParserValidateLogs.json","ProcessFileMappings":".\\Json\\ProcessFileMappings-CreateOpsCenterCopy.json","EnableVirtualMemory":false, "DefaultLogLevelHandling":"Fatal, Exception", "DebugLogProcessingTypes":"Disabled"},
{"ProfileName":"AllNoFlushComp","Log4NetParser":".\\Json\\Log4NetParserLogsNoFlushComp.json","ProcessFileMappings":".\\Json\\ProcessFileMappingsNoDebugLogs.json","EnableVirtualMemory":false, "DefaultLogLevelHandling":"Warning, Error, Fatal, Exception", "DebugLogProcessingTypes":"Disable"},
{"ProfileName":"ValidateWLogs","Log4NetParser":".\\Json\\Log4NetParserLogsNoFlushCompGC.json","ProcessFileMappings":".\\Json\\ProcessFileMappingsValidate.json","EnableVirtualMemory":false, "DefaultLogLevelHandling":"Fatal, Exception", "DebugLogProcessingTypes":"OnlyLogDateRange"}
]</value>
            </setting>
            <setting name="LogAggregationPeriod" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="IgnoreLogParsingTagEvents" serializeAs="String">
                <value />
            </setting>
            <setting name="AppendFilePathForAddLogArgument" serializeAs="String">
                <value>.\*\*.log.*</value>
            </setting>
            <setting name="TraceExceptions" serializeAs="String">
                <value>True</value>
            </setting>
        </DSEDiagnosticConsoleApplication.Properties.Settings>

      <DSEDiagnosticFileParser.Properties.Settings>

        <setting name="ProcessFileMappings" serializeAs="String">
          <value>[cpld]\Json\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,[cpld]\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,[ApplicationRunTimeDirectory]\Json\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,[ApplicationRunTimeDirectory]\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,.\Json\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,.\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json</value>
        </setting>
      </DSEDiagnosticFileParser.Properties.Settings>
    </applicationSettings>
</configuration>