<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticConsoleApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="DSEDiagnosticFileParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
       <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <runtime>
    <gcConcurrent enabled="false"/>
    <gcServer enabled="true"/>
  </runtime>

  <log4net>
    <!-- A1 is set to be a ConsoleAppender -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <!--appender name="FileAppender" type="log4net.Appender.RollingFileAppender"-->
      <file value="DSEDiagnosticAnalyticParserConsole.log" />
      <!--file value="DSEDiagnosticAnalyticParserConsole_" -->
      <!--rollingStyle value="Date"-->
      <!--datePattern value="yyyyMMdd_HHmm.lo\g"-->
      <!--staticLogFileName value="true"/-->
      <appendToFile value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %timestamp [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

    <applicationSettings>
        <DSEDiagnosticConsoleApplication.Properties.Settings>
            <setting name="DiagnosticPath" serializeAs="String">
                <value>[Personal]\DSEData\HL_Statim_Cluster-diagnostics-2016_09_12_14_39_32_UTC</value>
            </setting>
            <setting name="DiagFolderStruct" serializeAs="String">
                <value>OpsCtrDiagStruct</value>
            </setting>
        </DSEDiagnosticConsoleApplication.Properties.Settings>

      <DSEDiagnosticFileParser.Properties.Settings>

        <setting name="ProcessFileMappings" serializeAs="String">
          <value>[cpld]\Json\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,[cpld]\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,[ApplicationRunTimeDirectory]\Json\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,[ApplicationRunTimeDirectory]\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,.\Json\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json,.\DSEDiagConsoleApp-OpsCtr-ProcessFileMappings.json</value>
        </setting>
      </DSEDiagnosticFileParser.Properties.Settings>
    </applicationSettings>
</configuration>