<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataTableToExcel.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataTableToExcel.Core.Properties.Settings>
            <setting name="ExcelPackageMaxRowsLimit" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="ExcelWorkBookFileExtension" serializeAs="String">
                <value>.xlsx</value>
            </setting>
            <setting name="TranslateFormula" serializeAs="String">
                <value>(?:{\s*\d+\s*})|(?&lt;DCNameInd&gt;{(?&lt;DCName&gt;[a-z0-9_\-|+! ]+)})</value>
            </setting>
        </DataTableToExcel.Core.Properties.Settings>
    </applicationSettings>
</configuration>