<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagnosticToDataTable.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticToDataTable.Properties.Settings>
            <setting name="LogFileInfoAnalysisGapTriggerInMins" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LogFileInfoAnalysisContinousEventInDays" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LogAggregationPeriod" serializeAs="String">
                <value>00:30:00</value>
            </setting>
            <setting name="CommonPartitionsAllowZeroReadWriteCnts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CFStatsReadCountName" serializeAs="String">
                <value>Read Count</value>
            </setting>
            <setting name="CFStatsWriteCountName" serializeAs="String">
                <value>Write Count</value>
            </setting>
            <setting name="CFStatsLocalReadCountName" serializeAs="String">
                <value>Local read count</value>
            </setting>
            <setting name="CFStatsLocalWriteCountName" serializeAs="String">
                <value>Local write count</value>
            </setting>
            <setting name="CFStatsSpaceUsed" serializeAs="String">
                <value>Space used (total)</value>
            </setting>
            <setting name="CFStatsSSTableCount" serializeAs="String">
                <value>SSTable count</value>
            </setting>
            <setting name="CFStatsNbrKeys" serializeAs="String">
                <value>Number of keys (estimate)</value>
            </setting>
            <setting name="CFStatsNbrKeys1" serializeAs="String">
                <value>Number of partitions (estimate)</value>
            </setting>
        </DSEDiagnosticToDataTable.Properties.Settings>
    </applicationSettings>
</configuration>