<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Common.Properties.Settings>
			<setting name="SQLServerAlaisRegPath" serializeAs="String">
				<value>SOFTWARE\Microsoft\MSSQLServer\Client\ConnectTo</value>
			</setting>
			<setting name="MatchIPAddressRegEx" serializeAs="String">
				<value>\b(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b</value>
			</setting>
			<setting name="DefaultTypeAssemblyDirectory" serializeAs="String">
				<value/>
			</setting>
		</Common.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
