<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Common.Patterns.TimeZoneInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Common.Patterns.TimeZoneInfo.Properties.Settings>
            <setting name="ISOCountryFileName" serializeAs="String">
                <value>iso3166.tab</value>
            </setting>
            <setting name="TimeZoneCountryFileName" serializeAs="String">
                <value>zone.tab</value>
            </setting>
            <setting name="IgnoreFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.sh</string>
                        <string>systemv</string>
                        <string>*.yap</string>
                        <string>*.bap</string>
                        <string>*.bin</string>
                        <string>*.dll</string>
                        <string>*.exe</string>
                        <string>*.com</string>
                        <string>*.pdb</string>
                        <string>*.awk</string>
                        <string>*.pl</string>
                        <string>AgentRestart.dat</string>
                        <string>Makefile</string>
                        <string>leap-seconds.list</string>
                        <string>zone1970.tab</string>
                        <string>backzone</string>
                        <string>ReadMe</string>
                        <string>backzone</string>
                        <string>CONTRIBUTING</string>
                        <string>LICENSE</string>
                        <string>NEWS</string>
                        <string>Theory</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IANADirectoryPath" serializeAs="String">
                <value>[CommonPatternLibDir]\IANATimeZone;[AppRunTimeDir]\IANATimeZone;[AssemblyProbeDir]\IANATimeZone;[CommonApplicationData]\IANATimeZone;[LocalApplicationData]\IANATimeZone</value>
            </setting>
            <setting name="db40FilePath" serializeAs="String">
                <value>.\TimeZoneInfo.yap</value>
            </setting>
            <setting name="db40BinFilePath" serializeAs="String">
                <value>.\TimeZoneInfo.bin</value>
            </setting>
            <setting name="LOCODEFileName" serializeAs="String">
                <value>unlocode.tab</value>
            </setting>
            <setting name="WindowsTimeZoneMappings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Australia/Eucla</string>
                        <string>Aus Central W. Standard Time</string>
                        <string>Australia/Sydney</string>
                        <string>AUS Eastern Standard Time</string>
                        <string>Asia/Kabul</string>
                        <string>Afghanistan Standard Time</string>
                        <string>America/Anchorage</string>
                        <string>Alaskan Standard Time</string>
                        <string>Asia/Riyadh</string>
                        <string>Arab Standard Time</string>
                        <string>Asia/Dubai</string>
                        <string>Arabian Standard Time</string>
                        <string>Asia/Baghdad</string>
                        <string>Arabic Standard Time</string>
                        <string>America/Argentina/Buenos_Aires</string>
                        <string>Argentina Standard Time</string>
                        <string>America/Halifax</string>
                        <string>Atlantic Standard Time</string>
                        <string>Asia/Baku</string>
                        <string>Azerbaijan Standard Time</string>
                        <string>Atlantic/Azores</string>
                        <string>Azores Standard Time</string>
                        <string>America/Bahia</string>
                        <string>Bahia Standard Time</string>
                        <string>Asia/Dhaka</string>
                        <string>Bangladesh Standard Time</string>
                        <string>Europe/Minsk</string>
                        <string>Belarus Standard Time</string>
                        <string>America/Regina</string>
                        <string>Canada Central Standard Time</string>
                        <string>Atlantic/Cape_Verde</string>
                        <string>Cape Verde Standard Time</string>
                        <string>Asia/Yerevan</string>
                        <string>Caucasus Standard Time</string>
                        <string>Australia/Adelaide</string>
                        <string>Cen. Australia Standard Time</string>
                        <string>America/Guatemala</string>
                        <string>Central America Standard Time</string>
                        <string>Asia/Almaty</string>
                        <string>Central Asia Standard Time</string>
                        <string>America/Cuiaba</string>
                        <string>Central Brazilian Standard Time</string>
                        <string>Europe/Budapest</string>
                        <string>Central Europe Standard Time</string>
                        <string>Europe/Warsaw</string>
                        <string>Central European Standard Time</string>
                        <string>Pacific/Guadalcanal</string>
                        <string>Central Pacific Standard Time</string>
                        <string>America/Chicago</string>
                        <string>Central Standard Time</string>
                        <string>America/Mexico_City</string>
                        <string>Central Standard Time (Mexico)</string>
                        <string>Asia/Shanghai</string>
                        <string>China Standard Time</string>
                        <string>Etc/GMT+12</string>
                        <string>Dateline Standard Time</string>
                        <string>Africa/Nairobi</string>
                        <string>E. Africa Standard Time</string>
                        <string>Australia/Brisbane</string>
                        <string>E. Australia Standard Time</string>
                        <string>Europe/Bucharest</string>
                        <string>E. Europe Standard Time</string>
                        <string>America/Sao_Paulo</string>
                        <string>E. South America Standard Time</string>
                        <string>America/New_York</string>
                        <string>Eastern Standard Time</string>
                        <string>America/Cancun</string>
                        <string>Eastern Standard Time (Mexico)</string>
                        <string>Africa/Cairo</string>
                        <string>Egypt Standard Time</string>
                        <string>Asia/Yekaterinburg</string>
                        <string>Ekaterinburg Standard Time</string>
                        <string>Europe/Helsinki</string>
                        <string>FLE Standard Time</string>
                        <string>Pacific/Fiji</string>
                        <string>Fiji Standard Time</string>
                        <string>Europe/London</string>
                        <string>GMT Standard Time</string>
                        <string>Europe/Athens</string>
                        <string>GTB Standard Time</string>
                        <string>Asia/Tbilisi</string>
                        <string>Georgian Standard Time</string>
                        <string>America/Godthab</string>
                        <string>Greenland Standard Time</string>
                        <string>Africa/Monrovia</string>
                        <string>Greenwich Standard Time</string>
                        <string>Pacific/Honolulu</string>
                        <string>Hawaiian Standard Time</string>
                        <string>Asia/Kolkata</string>
                        <string>India Standard Time</string>
                        <string>Asia/Tehran</string>
                        <string>Iran Standard Time</string>
                        <string>Asia/Jerusalem</string>
                        <string>Israel Standard Time</string>
                        <string>Asia/Amman</string>
                        <string>Jordan Standard Time</string>
                        <string>Europe/Kaliningrad</string>
                        <string>Kaliningrad Standard Time</string>
                        <string>Asia/Kamchatka</string>
                        <string>Kamchatka Standard Time</string>
                        <string>Asia/Seoul</string>
                        <string>Korea Standard Time</string>
                        <string>Africa/Tripoli</string>
                        <string>Libya Standard Time</string>
                        <string>Pacific/Kiritimati</string>
                        <string>Line Islands Standard Time</string>
                        <string>Asia/Magadan</string>
                        <string>Magadan Standard Time</string>
                        <string>Indian/Mauritius</string>
                        <string>Mauritius Standard Time</string>
                        <string>America/Mexico_City</string>
                        <string>Mexico Standard Time</string>
                        <string>America/Chihuahua</string>
                        <string>Mexico Standard Time 2</string>
                        <string>Atlantic/South_Georgia</string>
                        <string>Mid-Atlantic Standard Time</string>
                        <string>Asia/Beirut</string>
                        <string>Middle East Standard Time</string>
                        <string>America/Montevideo</string>
                        <string>Montevideo Standard Time</string>
                        <string>Africa/Casablanca</string>
                        <string>Morocco Standard Time</string>
                        <string>America/Denver</string>
                        <string>Mountain Standard Time</string>
                        <string>America/Chihuahua</string>
                        <string>Mountain Standard Time (Mexico)</string>
                        <string>Asia/Rangoon</string>
                        <string>Myanmar Standard Time</string>
                        <string>Asia/Novosibirsk</string>
                        <string>N. Central Asia Standard Time</string>
                        <string>Africa/Windhoek</string>
                        <string>Namibia Standard Time</string>
                        <string>Asia/Kathmandu</string>
                        <string>Nepal Standard Time</string>
                        <string>Pacific/Auckland</string>
                        <string>New Zealand Standard Time</string>
                        <string>America/St_Johns</string>
                        <string>Newfoundland Standard Time</string>
                        <string>Asia/Irkutsk</string>
                        <string>North Asia East Standard Time</string>
                        <string>Asia/Krasnoyarsk</string>
                        <string>North Asia Standard Time</string>
                        <string>Asia/Pyongyang</string>
                        <string>North Korea Standard Time</string>
                        <string>America/Santiago</string>
                        <string>Pacific SA Standard Time</string>
                        <string>America/Los_Angeles</string>
                        <string>Pacific Standard Time</string>
                        <string>America/Tijuana</string>
                        <string>Pacific Standard Time (Mexico)</string>
                        <string>Asia/Karachi</string>
                        <string>Pakistan Standard Time</string>
                        <string>America/Asuncion</string>
                        <string>Paraguay Standard Time</string>
                        <string>Europe/Paris</string>
                        <string>Romance Standard Time</string>
                        <string>Asia/Srednekolymsk</string>
                        <string>Russia Time Zone 10</string>
                        <string>Asia/Anadyr</string>
                        <string>Russia Time Zone 11</string>
                        <string>Europe/Samara</string>
                        <string>Russia Time Zone 3</string>
                        <string>Europe/Moscow</string>
                        <string>Russian Standard Time</string>
                        <string>America/Cayenne</string>
                        <string>SA Eastern Standard Time</string>
                        <string>America/Bogota</string>
                        <string>SA Pacific Standard Time</string>
                        <string>America/La_Paz</string>
                        <string>SA Western Standard Time</string>
                        <string>Asia/Bangkok</string>
                        <string>SE Asia Standard Time</string>
                        <string>Pacific/Apia</string>
                        <string>Samoa Standard Time</string>
                        <string>Asia/Singapore</string>
                        <string>Singapore Standard Time</string>
                        <string>Africa/Harare</string>
                        <string>South Africa Standard Time</string>
                        <string>Asia/Colombo</string>
                        <string>Sri Lanka Standard Time</string>
                        <string>Asia/Damascus</string>
                        <string>Syria Standard Time</string>
                        <string>Asia/Taipei</string>
                        <string>Taipei Standard Time</string>
                        <string>Australia/Hobart</string>
                        <string>Tasmania Standard Time</string>
                        <string>Asia/Tokyo</string>
                        <string>Tokyo Standard Time</string>
                        <string>Pacific/Tongatapu</string>
                        <string>Tonga Standard Time</string>
                        <string>Europe/Istanbul</string>
                        <string>Turkey Standard Time</string>
                        <string>America/Indiana/Indianapolis</string>
                        <string>US Eastern Standard Time</string>
                        <string>America/Phoenix</string>
                        <string>US Mountain Standard Time</string>
                        <string>Etc/GMT</string>
                        <string>UTC</string>
                        <string>Etc/GMT-12</string>
                        <string>UTC+12</string>
                        <string>Etc/GMT+11</string>
                        <string>UTC-11</string>
                        <string>America/Caracas</string>
                        <string>Venezuela Standard Time</string>
                        <string>Asia/Vladivostok</string>
                        <string>Vladivostok Standard Time</string>
                        <string>Australia/Perth</string>
                        <string>W. Australia Standard Time</string>
                        <string>Africa/Lagos</string>
                        <string>W. Central Africa Standard Time</string>
                        <string>Europe/Berlin</string>
                        <string>W. Europe Standard Time</string>
                        <string>Asia/Tashkent</string>
                        <string>West Asia Standard Time</string>
                        <string>Pacific/Port_Moresby</string>
                        <string>West Pacific Standard Time</string>
                        <string>Asia/Yakutsk</string>
                        <string>Yakutsk Standard Time</string>
                        <string>Europe/Astrakhan</string>
                        <string>Astrakhan Standard Time</string>
                        <string>Australia/Darwin</string>
                        <string>Aus Central Standard Time</string>
                        <string>Pacific/Bougainville </string>
                        <string>Bougainville Standard Time</string>
                        <string>Pacific/Chatham</string>
                        <string>Chatham Islands Standard Time</string>
                        <string>America/Havana</string>
                        <string>Cuba Standard Time</string>
                        <string>Pacific/Easter </string>
                        <string>Easter Island Standard Time</string>
                        <string>America/Port-au-Prince</string>
                        <string>Haiti Standard Time</string>
                        <string>Australia/Lord_Howe</string>
                        <string>Lord Howe Standard Time</string>
                        <string>Pacific/Marquesas</string>
                        <string>Marquesas Standard Time</string>
                        <string>Pacific/Norfolk </string>
                        <string>Norfolk Standard Time</string>
                        <string>Asia/Omsk</string>
                        <string>Omsk Standard Time</string>
                        <string>Asia/Qyzylorda</string>
                        <string>Qyzylorda Standard Time</string>
                        <string>America/Miquelon </string>
                        <string>Saint Pierre Standard Time</string>
                        <string>Asia/Sakhalin </string>
                        <string>Sakhalin Standard Time</string>
                        <string>Africa/Johannesburg</string>
                        <string>Sao Tome Standard Time</string>
                        <string>Europe/Astrakhan</string>
                        <string>Saratov Standard Time</string>
                        <string>Africa/Khartoum</string>
                        <string>Sudan Standard Time</string>
                        <string>America/Araguaina</string>
                        <string>Tocantins Standard Time</string>
                        <string>Etc/GMT-2</string>
                        <string>UTC-02</string>
                        <string>Etc/GMT-8</string>
                        <string>UTC-08</string>
                        <string>Etc/GMT-9</string>
                        <string>UTC-09</string>
                        <string>Asia/Ulaanbaatar</string>
                        <string>Ulaanbaatar Standard Time</string>
                        <string>Europe/Volgograd</string>
                        <string>Volgograd Standard Time</string>
                        <string>Asia/Ulaanbaatar</string>
                        <string>W. Mongolia Standard Time</string>
                        <string>Asia/Hebron</string>
                        <string>West Bank Standard Time</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BackwardCompatibilityFileNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>backward</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BackzoneFileNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>backzone</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProcessBackwardFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessBackzoneFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </Common.Patterns.TimeZoneInfo.Properties.Settings>
    </applicationSettings>
</configuration>