<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DSEDiagnosticFileParserTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagnosticFileParserTests.Properties.Settings>
            <setting name="test" serializeAs="String">
                <value>[
{"Key":"ID","Value":"[0-9a-f\\-]+"},
{"Key":"DURATION","Value":"[0-9,.]+"},
{"Key":"KEYSPACE","Value":"[a-z0-9'\\-_$%+=!?&lt;&gt;^*&amp;@]+"},
{"Key":"DDLITEMNAME","Value":"[a-z0-9'\\-_$%+=!?&lt;&gt;^*&amp;@]+"},
{"Key":"TABLEVIEWNAME","Value":"[a-z0-9'\\-_$%+=!?&lt;&gt;^*&amp;@]+"},
{"Key":"DDLITEM","Value":"[^ ]+"},
{"Key":"DDLSCHEMAID","Value":"[0-9a-f\\-]+"},
{"Key":"SSTABLEPATH","Value":"[a-z0-9\\-_@#/.\\ +%]+"},
{"Key":"SSTABLEPATHS","Value":"[a-z0-9\\-_@#/.,\\ +%]*"},
{"Key":"NODE","Value":"[^ ]+"}
]</value>
            </setting>
        </DSEDiagnosticFileParserTests.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>