<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DSEDiagtnosticToExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DSEDiagtnosticToExcel.Properties.Settings>
            <setting name="ExcelFileExtension" serializeAs="String">
                <value>.xlsx</value>
            </setting>
            <setting name="WorkSheetDefaultAttrs" serializeAs="String">
                <value>{
"CFStats":[{"Column":"F","Attrs":[
	"Average live cells per slice (last five minutes)",
	"Average tombstones per slice (last five minutes)",
	"Batch size maximum",
	"Batch size mean",
	"Batch size minimum",
	"Batch size occurrences",
	"Bloom filter false positives",
	"Bloom filter false ratio",
	"Bloom filter off heap memory used",
	"Bloom filter space used",
	"Compacted partition maximum bytes",
	"Compacted partition mean bytes",
	"Compacted partition minimum bytes",
	"Compaction maximum latency",
	"Compaction maximum rate",
	"Compaction mean latency",
	"Compaction mean rate",
	"Compaction mean rate",
	"Compaction minimum latency",
	"Compaction minimum rate",
	"Compaction occurrences",
	"Compression metadata off heap memory used",
	"Index summary off heap memory used",
	"Local read count",
	"Local read latency",
	"Local write count",
	"Local write latency",
	"Maximum live cells per slice (last five minutes)",
	"Maximum tombstones per slice (last five minutes)",
	"MemTable OPS maximum",
	"MemTable OPS mean",
	"MemTable OPS minimum",
	"MemTable Size maximum",
	"MemTable Size mean",
	"MemTable Size minimum",
	"MemTable occurrences",
	"Memtable cell count",
	"Memtable data size",
	"Memtable off heap memory used",
	"Memtable switch count",
	"Number of keys (estimate)",
	"Off heap memory used (total)",
	"Partition large maximum",
	"Partition large mean",
	"Partition large minimum",
	"Partition large occurrences",
	"Pending flushes",
	"Read Count",
	"Read latency",
	"Read latency maximum",
	"SSTable Compression Ratio",
	"SSTable count",
	"SSTable read maximum ",
	"Space used (live)",
	"Space used (total)",
	"Space used by snapshots (total)",
	"Tombstones warning Total",
	"Tombstones warning maximum",
	"Tombstones warning mean",
	"Tombstones warning minimum",
	"Tombstones warning occurrences",
	"Write Count",
	"Write latency",
	"Write latency maximum",
	"Unlogged Batch Partitions Count Total",
	"Unlogged Batch Partitions Count maximum",
	"Unlogged Batch Partitions Count mean",
	"Unlogged Batch Partitions Count minimum",
	"Unlogged Batch Partitions Count occurrences",
	"Tombstones query aborted Total",
	"Tombstones query aborted maximum",
	"Tombstones query aborted mean",
	"Tombstones query aborted minimum",
	"Tombstones query aborted occurences",
	"Read Repair maximum latency",
	"Read Repair minimum latency",
	"Read Repair mean latency",
	"Read Repair occurrences",
	"Read Repair Aborted occurrences",
	"Solr reindex duration maximum",
	"Solr reindex duration minimum",
	"Solr reindex duration mean",
	"Solr reindex duration stdev",
	"Solr reindex occurrences",
	"AntiCompaction maximum latency",
	"AntiCompaction mean latency",
	"AntiCompaction minimum latency",
	"AntiCompaction occurrences",
	"AntiCompaction SSTable count",
	"Memtable Flush maximum latency",
	"Memtable Flush mean latency",
	"Memtable Flush minimum latency",
	"Memtable Flush occurrences",
	"Memtable Flush maximum IORate",
	"Memtable Flush mean IORate",
	"Memtable Flush minimum IORate",
	"Memtable Flush maximum Storage",
	"Memtable Flush mean Storage",
	"Memtable Flush minimum Storage",
	"Memtable Flush total Storage",
                   "Error (DC Not Defined within KS)",
                   "Errors"
]}],
"NodeStats":[{"Column":"D","Attrs":[
	"AntiEntropySessions",
	"AntiEntropyStage",
	"AntiEntropyStage Total",
	"AntiEntropyStage maximum",
	"AntiEntropyStage mean",
	"AntiEntropyStage minimum",
	"AntiEntropyStage occurrences",
	"BINARY",
	"COUNTER_MUTATION",
	"CacheCleanupExecutor",
	"CommitLogArchiver",
	"CompactionExecutor",
	"CompactionExecutor Total",
	"CompactionExecutor maximum",
	"CompactionExecutor mean",
	"CompactionExecutor minimum",
	"CompactionExecutor occurrences",
	"CounterMutationStage",
	"CounterMutationStage Total",
	"CounterMutationStage maximum",
	"CounterMutationStage mean",
	"CounterMutationStage minimum",
	"CounterMutationStage occurrences",
	"GC maximum latency",
	"GC mean latency",
	"GC minimum latency",
	"GC occurrences",
	"GossipStage",
	"GossipStage Total",
	"GossipStage maximum",
	"GossipStage mean",
	"GossipStage minimum",
	"GossipStage occurrences",
	"HintedHandoff",
	"HintedHandoff Total",
	"HintedHandoff maximum",
	"HintedHandoff mean",
	"HintedHandoff minimum",
	"HintedHandoff occurrences",
	"InternalResponseStage",
	"InternalResponseStage Total",
	"InternalResponseStage maximum",
	"InternalResponseStage mean",
	"InternalResponseStage minimum",
	"InternalResponseStage occurrences",
	"MUTATION",
	"MemtableFlushWriter",
	"MemtableFlushWriter Total",
	"MemtableFlushWriter maximum",
	"MemtableFlushWriter mean",
	"MemtableFlushWriter minimum",
	"MemtableFlushWriter occurrences",
	"MemtablePostFlush",
	"MemtablePostFlush Total",
	"MemtablePostFlush maximum",
	"MemtablePostFlush mean",
	"MemtablePostFlush minimum",
	"MemtablePostFlush occurrences",
	"MemtableReclaimMemory",
	"MemtableReclaimMemory Total",
	"MemtableReclaimMemory maximum",
	"MemtableReclaimMemory mean",
	"MemtableReclaimMemory minimum",
	"MemtableReclaimMemory occurrences",
	"MigrationStage",
	"MigrationStage Total",
	"MigrationStage maximum",
	"MigrationStage mean",
	"MigrationStage minimum",
	"MigrationStage occurrences",
	"MiscStage",
	"MutationStage",
	"MutationStage Total",
	"MutationStage maximum",
	"MutationStage mean",
	"MutationStage minimum",
	"MutationStage occurrences",
	"PAGED_RANGE",
	"Pause maximum latency",
	"Pause mean latency",
	"Pause minimum latency",
	"Pause occurrences",
	"PendingRangeCalculator",
	"PendingRangeCalculator Total",
	"PendingRangeCalculator maximum",
	"PendingRangeCalculator mean",
	"PendingRangeCalculator minimum",
	"PendingRangeCalculator occurrences",
	"RANGE_SLICE",
	"READ",
	"READ_REPAIR",
	"REQUEST_RESPONSE",
	"ReadRepairStage",
	"ReadRepairStage Total",
	"ReadRepairStage maximum",
	"ReadRepairStage mean",
	"ReadRepairStage minimum",
	"ReadRepairStage occurrences",
	"ReadStage",
	"ReadStage Total",
	"ReadStage maximum",
	"ReadStage mean",
	"ReadStage minimum",
	"ReadStage occurrences",
	"RequestResponseStage",
	"RequestResponseStage Total",
	"RequestResponseStage maximum",
	"RequestResponseStage mean",
	"RequestResponseStage minimum",
	"RequestResponseStage occurrences",
	"Sampler",
	"Slow Query maximum latency",
	"Slow Query mean latency",
	"Slow Query minimum latency",
	"Slow Query occurrences",
	"ValidationExecutor",
	"_TRACE",
	"OutOfMemoryError occurrences",
	"CommitLogFlushFailure occurrences",
	"Dropped Hints Total",
	"Dropped Hints maximum",
	"Dropped Hints mean",
	"Dropped Hints minimum",
	"Dropped Hints occurrences",
	"Allocation Failed Maximum Memory Reached Total",
	"Allocation Failed Maximum Memory Reached maximum",
	"Allocation Failed Maximum Memory Reached minimum",
	"Allocation Failed Maximum Memory Reached mean",
	"Allocation Failed Maximum Memory Reached occurrences",
	"Dropped Mutation Total",
	"Dropped Mutation maximum",
	"Dropped Mutation mean",
	"Dropped Mutation minimum",
	"Dropped Mutation occurrences",
	"GC Continuous maximum latency",
	"GC Continuous minimum latency",
	"GC Continuous mean latency",
	"GC Continuous occurrences",
	"GC Continuous latency",
	"GC Continuous standard deviation latency",
	"GC TimeFrame maximum latency",
	"GC TimeFrame minimum latency",
	"GC TimeFrame mean latency",
	"GC TimeFrame occurrences",
	"GC TimeFrame latency",
	"GC TimeFrame standard deviation latency",
	"GC TimeFrame percent",
	"Timedout Hints Total",
	"Timedout Hints maximum",
	"Timedout Hints mean",
	"Timedout Hints minimum",
	"Timedout Hints occurrences",
	"Concurrent Compaction maximum",
	"Concurrent Compaction minimum",
	"Concurrent Compaction mean",
	"Concurrent Compaction standard deviation",
	"Concurrent Compaction Total",
	"Concurrent Compaction occurrences",
	"Concurrent MemtableFlush maximum",
	"Concurrent MemtableFlush minimum",
	"Concurrent MemtableFlush mean",
	"Concurrent MemtableFlush standard deviation",
	"Concurrent MemtableFlush Total",
	"Concurrent MemtableFlush occurrences",
	"Concurrent Compaction/Flush Performance Warnings maximum",
	"Concurrent Compaction/Flush Performance Warnings minimum",
	"Concurrent Compaction/Flush Performance Warnings mean",
	"Concurrent Compaction/Flush Performance Warnings standard deviation",
	"Concurrent Compaction/Flush GC maximum",
	"Concurrent Compaction/Flush GC minimum",
	"Concurrent Compaction/Flush GC mean",
	"Concurrent Compaction/Flush GC standard deviation",
	"Shard State Change Schema",
	"Shard State Change Dead Node",
	"Node Marked Down (Dropped Hints)",
	"Node Not Responding (Timed Out Hints)"
]}],
"AggregatedStats":[{"Column":"I","Attrs":[
	"_TRACE.Dropped",
	"Average live cells per slice (last five minutes)",
	"Average tombstones per slice (last five minutes)",
	"BINARY.Dropped",
	"Bloom filter false positives",
	"Bloom filter false ratio",
	"Bloom filter off heap memory used",
	"Bloom filter space used",
	"Compacted partition maximum bytes",
	"Compacted partition mean bytes",
	"Compacted partition minimum bytes",
	"Compression metadata off heap memory used",
	"COUNTER_MUTATION.Dropped",
	"Error (DC Not Defined within KS)",
	"Index summary off heap memory used",
	"Local read count",
	"Local read latency",
	"Local write count",
	"Local write latency",
	"Maximum live cells per slice (last five minutes)",
	"Maximum tombstones per slice (last five minutes)",
	"Memtable cell count",
	"Memtable data size",
	"Memtable off heap memory used",
	"Memtable switch count",
	"MUTATION.Dropped",
	"Number of keys (estimate)",
	"Off heap memory used (total)",
	"PAGED_RANGE.Dropped",
	"Partition large",
	"Pending Flushes",
	"Pool Name.AntiEntropySessions.Active",
	"Pool Name.AntiEntropySessions.All time blocked",
	"Pool Name.AntiEntropySessions.Blocked",
	"Pool Name.AntiEntropySessions.Completed",
	"Pool Name.AntiEntropySessions.Pending",
	"Pool Name.AntiEntropyStage.Active",
	"Pool Name.AntiEntropyStage.All time blocked",
	"Pool Name.AntiEntropyStage.Blocked",
	"Pool Name.AntiEntropyStage.Completed",
	"Pool Name.AntiEntropyStage.Pending",
	"Pool Name.CacheCleanupExecutor.Active",
	"Pool Name.CacheCleanupExecutor.All time blocked",
	"Pool Name.CacheCleanupExecutor.Blocked",
	"Pool Name.CacheCleanupExecutor.Completed",
	"Pool Name.CacheCleanupExecutor.Pending",
	"Pool Name.CommitLogArchiver.Active",
	"Pool Name.CommitLogArchiver.All time blocked",
	"Pool Name.CommitLogArchiver.Blocked",
	"Pool Name.CommitLogArchiver.Completed",
	"Pool Name.CommitLogArchiver.Pending",
	"Pool Name.CompactionExecutor.Active",
	"Pool Name.CompactionExecutor.All time blocked",
	"Pool Name.CompactionExecutor.Blocked",
	"Pool Name.CompactionExecutor.Completed",
	"Pool Name.CompactionExecutor.Pending",
	"Pool Name.CounterMutationStage.Active",
	"Pool Name.CounterMutationStage.All time blocked",
	"Pool Name.CounterMutationStage.Blocked",
	"Pool Name.CounterMutationStage.Completed",
	"Pool Name.CounterMutationStage.Pending",
	"Pool Name.GossipStage.Active",
	"Pool Name.GossipStage.All time blocked",
	"Pool Name.GossipStage.Blocked",
	"Pool Name.GossipStage.Completed",
	"Pool Name.GossipStage.Pending",
	"Pool Name.HintedHandoff.Active",
	"Pool Name.HintedHandoff.All time blocked",
	"Pool Name.HintedHandoff.Blocked",
	"Pool Name.HintedHandoff.Completed",
	"Pool Name.HintedHandoff.Pending",
	"Pool Name.InternalResponseStage.Active",
	"Pool Name.InternalResponseStage.All time blocked",
	"Pool Name.InternalResponseStage.Blocked",
	"Pool Name.InternalResponseStage.Completed",
	"Pool Name.InternalResponseStage.Pending",
	"Pool Name.MemtableFlushWriter.Active",
	"Pool Name.MemtableFlushWriter.All time blocked",
	"Pool Name.MemtableFlushWriter.Blocked",
	"Pool Name.MemtableFlushWriter.Completed",
	"Pool Name.MemtableFlushWriter.Pending",
	"Pool Name.MemtablePostFlush.Active",
	"Pool Name.MemtablePostFlush.All time blocked",
	"Pool Name.MemtablePostFlush.Blocked",
	"Pool Name.MemtablePostFlush.Completed",
	"Pool Name.MemtablePostFlush.Pending",
	"Pool Name.MemtableReclaimMemory.Active",
	"Pool Name.MemtableReclaimMemory.All time blocked",
	"Pool Name.MemtableReclaimMemory.Blocked",
	"Pool Name.MemtableReclaimMemory.Completed",
	"Pool Name.MemtableReclaimMemory.Pending",
	"Pool Name.MigrationStage.Active",
	"Pool Name.MigrationStage.All time blocked",
	"Pool Name.MigrationStage.Blocked",
	"Pool Name.MigrationStage.Completed",
	"Pool Name.MigrationStage.Pending",
	"Pool Name.MiscStage.Active",
	"Pool Name.MiscStage.All time blocked",
	"Pool Name.MiscStage.Blocked",
	"Pool Name.MiscStage.Completed",
	"Pool Name.MiscStage.Pending",
	"Pool Name.MutationStage.Active",
	"Pool Name.MutationStage.All time blocked",
	"Pool Name.MutationStage.Blocked",
	"Pool Name.MutationStage.Completed",
	"Pool Name.MutationStage.Pending",
	"Pool Name.Native-Transport-Requests.Active",
	"Pool Name.Native-Transport-Requests.All time blocked",
	"Pool Name.Native-Transport-Requests.Blocked",
	"Pool Name.Native-Transport-Requests.Completed",
	"Pool Name.Native-Transport-Requests.Pending",
	"Pool Name.PendingRangeCalculator.Active",
	"Pool Name.PendingRangeCalculator.All time blocked",
	"Pool Name.PendingRangeCalculator.Blocked",
	"Pool Name.PendingRangeCalculator.Completed",
	"Pool Name.PendingRangeCalculator.Pending",
	"Pool Name.ReadRepairStage.Active",
	"Pool Name.ReadRepairStage.All time blocked",
	"Pool Name.ReadRepairStage.Blocked",
	"Pool Name.ReadRepairStage.Completed",
	"Pool Name.ReadRepairStage.Pending",
	"Pool Name.ReadStage.Active",
	"Pool Name.ReadStage.All time blocked",
	"Pool Name.ReadStage.Blocked",
	"Pool Name.ReadStage.Completed",
	"Pool Name.ReadStage.Pending",
	"Pool Name.RequestResponseStage.Active",
	"Pool Name.RequestResponseStage.All time blocked",
	"Pool Name.RequestResponseStage.Blocked",
	"Pool Name.RequestResponseStage.Completed",
	"Pool Name.RequestResponseStage.Pending",
	"Pool Name.Sampler.Active",
	"Pool Name.Sampler.All time blocked",
	"Pool Name.Sampler.Blocked",
	"Pool Name.Sampler.Completed",
	"Pool Name.Sampler.Pending",
	"Pool Name.ValidationExecutor.Active",
	"Pool Name.ValidationExecutor.All time blocked",
	"Pool Name.ValidationExecutor.Blocked",
	"Pool Name.ValidationExecutor.Completed",
	"Pool Name.ValidationExecutor.Pending",
	"RANGE_SLICE.Dropped",
	"Read Count",
	"Read Latency",
	"READ.Dropped",
	"READ_REPAIR.Dropped",
	"REQUEST_RESPONSE.Dropped",
	"Space used (live)",
	"Space used (total)",
	"Space used by snapshots (total)",
	"SSTable Compression Ratio",
	"SSTable count",
	"SSTables in each level",
	"Tombstone/Live Percent",
	"Tombstones Read",
	"Write Count",
	"Write Latency",
	"Error (DC Not Defined within KS)",
	"Errors"
]},
{"Column":"A","Attrs":[
"TPStats",
"CFStats",
"CFStats",
"TPStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"TPStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"TPStats",
"CFStats",
"CFStats",
"TPStats",
"CassandraLog",
"CFStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"TPStats",
"CFStats",
"CFStats",
"TPStats",
"TPStats",
"TPStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CFStats",
"CassandraLog",
"CFStats",
"CFStats",
"CFStats",
"CFStats"
]}]

}</value>
            </setting>
            <setting name="AppendToWorkSheet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExcelTimeSpanFormat" serializeAs="String">
                <value>[&gt;=32] 0.00 "days";[&lt;1]  [hh]:mm;d hh:mm</value>
            </setting>
            <setting name="ExcelDateTimeFormat" serializeAs="String">
                <value>mm/dd/yyyy hh:mm:ss.000</value>
            </setting>
            <setting name="ExcelTimeFormat" serializeAs="String">
                <value>[hh]:mm</value>
            </setting>
            <setting name="ExcelPackageCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelSaveWorkSheet" serializeAs="String">
                <value>False</value>
            </setting>
        </DSEDiagtnosticToExcel.Properties.Settings>
    </applicationSettings>
</configuration>